.DS_Store
node_modules
dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
coverage

/live/

# pas tout le monde utilise le proxy
.npmrc


.gradle
ui-server/build/
ui-server/bin/
!ui-server/gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out

### NetBeans ###
ui-server/nbproject/private/
ui-server/nbbuild/
ui-server/dist/
ui-server/nbdist/
ui-server/.nb-gradle/
ui-server/src/main/resources/public


