$primary: #0055a4;
$secondary: #009dcc;
$accent: #c8007b;
$success: #05d0a6;

$white: #ffffff;
$blue: #009dcc;
$light-grey: #f3f3f3;
$medium-grey: #dddddd;
$medium-grey-2: #7d7d7d;
$dark-grey: #454545;
$orange: #ea5b0f;
$gray: #6c757d;

$primary-hover-color: #d84da2;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1024px,
  xl: 1440px,
);
