$primary: #0055a4;
$secondary: #009dcc;
$accent: #c8007b;
$success: #05d0a6;

$white: #ffffff;
$blue: #009dcc;
$orange: #ea5b0f;
$bouygues-cyan: #6cc3de;

$light-gray: #f3f3f3;
$medium-gray: #dddddd;
$gray: #6c757d;
$dark-gray: #454545;
$gray-680: #7d7d7d; // (https://getbootstrap.com/docs/4.0/getting-started/theming/#grays)
$gray-400: #bdbdbd;

$primary-hover-color: #d84da2;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1024px,
  xl: 1440px,
);

$box-radius: 2px; // pour input et boutons, peut être utilisé à d'autres endroits
