@import 'variables';

// Required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Theme
@import 'overrides/buttons';

$theme-colors: map-merge(
  $theme-colors,
  (
    'accent': $accent,
  )
);

// Optional
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/mixins/transition';

@import 'global.scss';
@import 'navbar.scss';
@import 'icons.scss';

// utility
.no-select {
  user-select: none;
}

.hover-pointer:hover {
  cursor: pointer;
}

.btn-link-unstyled {
  &:hover,
  &:active {
    text-decoration: none !important;
    color: white !important;
  }
}

.btn-outline-simple {
  color: $dark-gray;
  background-color: $white;
  border: 1px solid $medium-gray;
  &:disabled {
    background: $medium-gray;
    color: white;
  }
}

.panel-title {
  background-color: transparent;
  color: $dark-gray;
  font-weight: 300;
  font-size: 2rem;
  margin: 3rem 0 1.875rem;
  padding: 0;
  text-align: center;
}

.panel-vertical-container {
  display: flex;
  flex-direction: column;
  div.main-content {
    flex: 1;
    min-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-height: 768px) {
  .panel-vertical-container {
    div.main-content {
      max-height: 87vh;
      min-height: 80vh;
    }
  }
}
@media screen and (min-height: 769px) {
  .panel-vertical-container {
    div.main-content {
      min-height: 75vh;
      max-height: 87vh;
    }
  }
}

.error-text {
  color: $orange;
  font-size: 0.8rem;
}
