body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #f3f3f3;
  color: #454545;
}

.main {
  background-color: $light-gray;
}

.disableSubMenu,
.disableTab {
  background-color: #dadada;
  a {
    color: white !important;
    cursor: not-allowed;
    pointer-events: none;
  }
}
