$icomoon-font-family: 'powwow' !default;
$icomoon-font-path: 'assets/icons' !default;

$ic-toggle-on: '\e951';
$ic-pause-circle: '\e952';
$ic-phone-incoming: '\e94f';
$ic-phone-outgoing: '\e950';
$ic-Alert-Icon: '\e900';
$ic-Alt-Icon: '\e901';
$ic-Amplifier-Icon: '\e902';
$ic-Arrow-Down-Icon: '\e903';
$ic-Arrow-Filter-Icon: '\e904';
$ic-Arrow-Forward-Icon: '\e905';
$ic-Arrow-Left-Icon: '\e906';
$ic-Arrow-Next-Icon: '\e907';
$ic-Arrow-Previous-Icon: '\e908';
$ic-Arrow-Right-Icon: '\e909';
$ic-Arrow-Up-Icon: '\e90a';
$ic-Basket-Icon: '\e90b';
$ic-Bell-Icon: '\e90c';
$ic-Calendar-Icon: '\e90d';
$ic-Camera-Icon: '\e90e';
$ic-Cart-Icon: '\e90f';
$ic-Check-Icon: '\e910';
$ic-Check-Rounded-Icon: '\e911';
$ic-Chronometer-Icon: '\e912';
$ic-Circle-Icon: '\e913';
$ic-Clock-Icon: '\e914';
$ic-Compass-Icon: '\e915';
$ic-Copy-Paste-Icon: '\e916';
$ic-Cross-Icon: '\e917';
$ic-Direction-Icon: '\e918';
$ic-Dislike-Icon: '\e919';
$ic-Download-Icon: '\e91a';
$ic-Drag-Column-Icon: '\e91b';
$ic-Edit-Icon: '\e91c';
$ic-Enveloppe-Icon: '\e91d';
$ic-Eye-Closed-Icon: '\e91e';
$ic-Eye-Icon: '\e91f';
$ic-Filter-Icon: '\e920';
$ic-Flag-Icon: '\e921';
$ic-Floppy-Icon: '\e922';
$ic-Heart-Add-Icon: '\e923';
$ic-Heart-Icon: '\e924';
$ic-Heart-Minus-Icon: '\e925';
$ic-Heart-Rythm-Icon: '\e926';
$ic-Help-Icon: '\e927';
$ic-History-Icon: '\e928';
$ic-Home-Icon: '\e929';
$ic-Hourglass-Icon: '\e92a';
$ic-Info-Icon: '\e92b';
$ic-Instagram-Icon: '\e92c';
$ic-Like-Icon: '\e92d';
$ic-Link-Icon: '\e92e';
$ic-List-Icon: '\e92f';
$ic-Location-Icon: '\e930';
$ic-Lock-Closed-Icon: '\e931';
$ic-Magnify-Icon: '\e932';
$ic-Message-Icon: '\e933';
$ic-Mic-Icon: '\e934';
$ic-Minus-Icon: '\e935';
$ic-Network-Icon: '\e936';
$ic-Pack-Icon: '\e937';
$ic-Phone-Icon: '\e938';
$ic-Picture-Icon: '\e939';
$ic-Pin-Icon: '\e93a';
$ic-Play-Icon: '\e93b';
$ic-Plug-Icon: '\e93c';
$ic-Plus-Icon: '\e93d';
$ic-Printer-Icon: '\e93e';
$ic-Refresh-Icon: '\e93f';
$ic-Settings-Icon: '\e940';
$ic-Shuffle-Icon: '\e941';
$ic-Sim-Icon: '\e942';
$ic-Smartphone-Icon: '\e943';
$ic-Sort-Icon: '\e944';
$ic-Star-Icon: '\e945';
$ic-Stats-Icon: '\e946';
$ic-Sun-Icon: '\e947';
$ic-Ticket-Icon: '\e948';
$ic-Trash-Icon: '\e949';
$ic-Upload-Icon: '\e94a';
$ic-User-Icon: '\e94b';
$ic-Wallet-Icon: '\e94c';
$ic-Wheel-Icon: '\e94d';
$ic-Wifi-Icon: '\e94e';

@font-face {
  font-family: 'powwow';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?c8ft7b');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?c8ft7b#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?c8ft7b') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?c8ft7b') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?c8ft7b##{$icomoon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='ic-'],
[class*=' ic-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-toggle-on {
  &:before {
    content: $ic-toggle-on;
  }
}
.ic-pause-circle {
  &:before {
    content: $ic-pause-circle;
  }
}
.ic-phone-incoming {
  &:before {
    content: $ic-phone-incoming;
  }
}
.ic-phone-outgoing {
  &:before {
    content: $ic-phone-outgoing;
  }
}
.ic-Alert-Icon {
  &:before {
    content: $ic-Alert-Icon;
  }
}
.ic-Alt-Icon {
  &:before {
    content: $ic-Alt-Icon;
  }
}
.ic-Amplifier-Icon {
  &:before {
    content: $ic-Amplifier-Icon;
  }
}
.ic-Arrow-Down-Icon {
  &:before {
    content: $ic-Arrow-Down-Icon;
  }
}
.ic-Arrow-Filter-Icon {
  &:before {
    content: $ic-Arrow-Filter-Icon;
  }
}
.ic-Arrow-Forward-Icon {
  &:before {
    content: $ic-Arrow-Forward-Icon;
  }
}
.ic-Arrow-Left-Icon {
  &:before {
    content: $ic-Arrow-Left-Icon;
  }
}
.ic-Arrow-Next-Icon {
  &:before {
    content: $ic-Arrow-Next-Icon;
  }
}
.ic-Arrow-Previous-Icon {
  &:before {
    content: $ic-Arrow-Previous-Icon;
  }
}
.ic-Arrow-Right-Icon {
  &:before {
    content: $ic-Arrow-Right-Icon;
  }
}
.ic-Arrow-Up-Icon {
  &:before {
    content: $ic-Arrow-Up-Icon;
  }
}
.ic-Basket-Icon {
  &:before {
    content: $ic-Basket-Icon;
  }
}
.ic-Bell-Icon {
  &:before {
    content: $ic-Bell-Icon;
  }
}
.ic-Calendar-Icon {
  &:before {
    content: $ic-Calendar-Icon;
  }
}
.ic-Camera-Icon {
  &:before {
    content: $ic-Camera-Icon;
  }
}
.ic-Cart-Icon {
  &:before {
    content: $ic-Cart-Icon;
  }
}
.ic-Check-Icon {
  &:before {
    content: $ic-Check-Icon;
  }
}
.ic-Check-Rounded-Icon {
  &:before {
    content: $ic-Check-Rounded-Icon;
  }
}
.ic-Chronometer-Icon {
  &:before {
    content: $ic-Chronometer-Icon;
  }
}
.ic-Circle-Icon {
  &:before {
    content: $ic-Circle-Icon;
  }
}
.ic-Clock-Icon {
  &:before {
    content: $ic-Clock-Icon;
  }
}
.ic-Compass-Icon {
  &:before {
    content: $ic-Compass-Icon;
  }
}
.ic-Copy-Paste-Icon {
  &:before {
    content: $ic-Copy-Paste-Icon;
  }
}
.ic-Cross-Icon {
  &:before {
    content: $ic-Cross-Icon;
  }
}
.ic-Direction-Icon {
  &:before {
    content: $ic-Direction-Icon;
  }
}
.ic-Dislike-Icon {
  &:before {
    content: $ic-Dislike-Icon;
  }
}
.ic-Download-Icon {
  &:before {
    content: $ic-Download-Icon;
  }
}
.ic-Drag-Column-Icon {
  &:before {
    content: $ic-Drag-Column-Icon;
  }
}
.ic-Edit-Icon {
  &:before {
    content: $ic-Edit-Icon;
  }
}
.ic-Enveloppe-Icon {
  &:before {
    content: $ic-Enveloppe-Icon;
  }
}
.ic-Eye-Closed-Icon {
  &:before {
    content: $ic-Eye-Closed-Icon;
  }
}
.ic-Eye-Icon {
  &:before {
    content: $ic-Eye-Icon;
  }
}
.ic-Filter-Icon {
  &:before {
    content: $ic-Filter-Icon;
  }
}
.ic-Flag-Icon {
  &:before {
    content: $ic-Flag-Icon;
  }
}
.ic-Floppy-Icon {
  &:before {
    content: $ic-Floppy-Icon;
  }
}
.ic-Heart-Add-Icon {
  &:before {
    content: $ic-Heart-Add-Icon;
  }
}
.ic-Heart-Icon {
  &:before {
    content: $ic-Heart-Icon;
  }
}
.ic-Heart-Minus-Icon {
  &:before {
    content: $ic-Heart-Minus-Icon;
  }
}
.ic-Heart-Rythm-Icon {
  &:before {
    content: $ic-Heart-Rythm-Icon;
  }
}
.ic-Help-Icon {
  &:before {
    content: $ic-Help-Icon;
  }
}
.ic-History-Icon {
  &:before {
    content: $ic-History-Icon;
  }
}
.ic-Home-Icon {
  &:before {
    content: $ic-Home-Icon;
  }
}
.ic-Hourglass-Icon {
  &:before {
    content: $ic-Hourglass-Icon;
  }
}
.ic-Info-Icon {
  &:before {
    content: $ic-Info-Icon;
  }
}
.ic-Instagram-Icon {
  &:before {
    content: $ic-Instagram-Icon;
  }
}
.ic-Like-Icon {
  &:before {
    content: $ic-Like-Icon;
  }
}
.ic-Link-Icon {
  &:before {
    content: $ic-Link-Icon;
  }
}
.ic-List-Icon {
  &:before {
    content: $ic-List-Icon;
  }
}
.ic-Location-Icon {
  &:before {
    content: $ic-Location-Icon;
  }
}
.ic-Lock-Closed-Icon {
  &:before {
    content: $ic-Lock-Closed-Icon;
  }
}
.ic-Magnify-Icon {
  &:before {
    content: $ic-Magnify-Icon;
  }
}
.ic-Message-Icon {
  &:before {
    content: $ic-Message-Icon;
  }
}
.ic-Mic-Icon {
  &:before {
    content: $ic-Mic-Icon;
  }
}
.ic-Minus-Icon {
  &:before {
    content: $ic-Minus-Icon;
  }
}
.ic-Network-Icon {
  &:before {
    content: $ic-Network-Icon;
  }
}
.ic-Pack-Icon {
  &:before {
    content: $ic-Pack-Icon;
  }
}
.ic-Phone-Icon {
  &:before {
    content: $ic-Phone-Icon;
  }
}
.ic-Picture-Icon {
  &:before {
    content: $ic-Picture-Icon;
  }
}
.ic-Pin-Icon {
  &:before {
    content: $ic-Pin-Icon;
  }
}
.ic-Play-Icon {
  &:before {
    content: $ic-Play-Icon;
  }
}
.ic-Plug-Icon {
  &:before {
    content: $ic-Plug-Icon;
  }
}
.ic-Plus-Icon {
  &:before {
    content: $ic-Plus-Icon;
  }
}
.ic-Printer-Icon {
  &:before {
    content: $ic-Printer-Icon;
  }
}
.ic-Refresh-Icon {
  &:before {
    content: $ic-Refresh-Icon;
  }
}
.ic-Settings-Icon {
  &:before {
    content: $ic-Settings-Icon;
  }
}
.ic-Shuffle-Icon {
  &:before {
    content: $ic-Shuffle-Icon;
  }
}
.ic-Sim-Icon {
  &:before {
    content: $ic-Sim-Icon;
  }
}
.ic-Smartphone-Icon {
  &:before {
    content: $ic-Smartphone-Icon;
  }
}
.ic-Sort-Icon {
  &:before {
    content: $ic-Sort-Icon;
  }
}
.ic-Star-Icon {
  &:before {
    content: $ic-Star-Icon;
  }
}
.ic-Stats-Icon {
  &:before {
    content: $ic-Stats-Icon;
  }
}
.ic-Sun-Icon {
  &:before {
    content: $ic-Sun-Icon;
  }
}
.ic-Ticket-Icon {
  &:before {
    content: $ic-Ticket-Icon;
  }
}
.ic-Trash-Icon {
  &:before {
    content: $ic-Trash-Icon;
  }
}
.ic-Upload-Icon {
  &:before {
    content: $ic-Upload-Icon;
  }
}
.ic-User-Icon {
  &:before {
    content: $ic-User-Icon;
  }
}
.ic-Wallet-Icon {
  &:before {
    content: $ic-Wallet-Icon;
  }
}
.ic-Wheel-Icon {
  &:before {
    content: $ic-Wheel-Icon;
  }
}
.ic-Wifi-Icon {
  &:before {
    content: $ic-Wifi-Icon;
  }
}
